body {
  text-align: center;
  #field {
    width: 90%;
    height: 865px;
    background: #c7c25d;
    margin: 26px auto;
    position: relative;

    #snake {
      width: 30px;
      height: 30px;
      background: darkolivegreen;
      position: absolute;
      //left: 45%;
      //top: 45%;
    }
  }
}