body {
  #field {
    width: 100%;
    //height: 757px;
    height: 865px;
    background: #c7c25d;
    position: relative;


    #snake {
      width: 30px;
      height: 30px;
      background: darkolivegreen;
      position: absolute;
    }
  }
}